<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? -%>
    |
    <%= link_to "delet", user, :method => :delete, :confirm => "You shure?",
                               :title => "Delete #{user.name}" %>
  <% end -%>
</li>

